<div class="bg-warning text-white">{{projectName}}</div>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="navbar-brand" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/important-numbers">Important Numbers</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/">.....</a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/phone-book">My phone book</a>
    </li>
  </ul>
</nav>
