<form class="form-inline">
	<input name="searchInput" class="form-control" placeholder="Name" #searchInput="ngModel"
	[(ngModel)] = "searchText" style="width: 80%;">
		<button class="btn btn-dark" (click)="searchText=''">Filter</button>
</form>
<table class="table table-sm">
      <h3>Contacts</h3>
        <ng-container *ngFor="let contact of contactArray">
                <tr class="table-dark" *ngIf = "filterCondition(contact)" >
                        <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.number}}</td>
                        <td>
                                <button class="btn btn-info" (click) ="contactService.populateForm(contact)">Edit</button>
                                <button class="btn btn-danger" (click) = "onDelete(contact.$key)">Delete</button>
                        </td>
                </tr>
        </ng-container>
</table>

<div class="alert alert-danger" *ngIf="showDeleteMessage" >Deleted successfully</div>